@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "../../styles/mixins";

.projects-wrapper {
    height: 100vh;
    width: calc(100vw - 50px); //margin, padding and border
    margin: 0 auto;
    //padding-top: 15vh;
    position: relative;
    //overflow-y: hidden;
    //overflow-y: hidden;
    &::before{
        content: "Work";
        text-transform: uppercase;
        font-family: "Anton",sans-serif;
        position: absolute;
        font-weight: 500;
        font-size: 23rem;
        top: -90px;
        right: -20px;
        z-index: -1;
        color: rgb(190, 190, 190);
        letter-spacing: 5px;

    }
    .row {
        padding-top: 20vh;
        display: flex;

        .case {
            position: relative;
            cursor: pointer;
            height: 50vh;
            height: calc(var(--vh, 1vh) * 50);
            width: 40vw;
            background: black;
            &:hover {
                .case-images {
                    opacity: 0.4;
                }
            }
            .case-details {
                position: relative;
                z-index: 5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 32px;
                box-sizing: border-box;
                font-family: "Anton",sans-serif;
                //letter-spacing: .005rem;
                span {
                    margin-top: 156px;
                    font-size: 1.6rem;
                    opacity: 0.8;
                    color: white;
                    font-weight: 600;
                }
                h2 {
                    font-size: 2.4rem;
                    line-height: 3.4rem;
                    width: 85%;
                    margin-top: 16px;
                    color: white;
                }
            }
            .case-images {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.65;
                transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    @include mq("tablet", min) {
        margin-left: 75px;
        //padding-left: 10px;
        border-left: 1px solid rgb(116, 116, 116);
        width: calc(100vw - 126px); //margin, padding and border
    }
}
