@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "../../../styles/mixins";


.main {
    height: 50vh; //fallback option
    height: calc(var(--vh, 1vh) * 50);
    background-color: white;
    .row {
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 3rem;
        line-height: 4.2rem;
        font-weight: 700;
        z-index: 10;
        color: white;
        mix-blend-mode: difference;
        @include mq("tablet",min) {
          font-size: 2.4rem;
          line-height: 3rem;
        }
        @include mq("phone",min) {
          margin-top: 72px;
          font-size: 1.7rem;
          line-height: 2.2rem;
        }
        .line {
          margin-bottom: 8px;
          height: 56px;
          position: relative;
          overflow: hidden;
          @include mq("tablet",min) {
            height: 48px;
          }
          @include mq("phone",min) {
            height: 32px;
          }
          span {
            position: absolute;
          }
        }
      }
      .btn-row {
        width: 256px;
        position: relative;
        z-index: 2;
        a {
          font-size: 1.6rem;
          color: black;
          text-decoration: none;
          display: flex;
          align-items: center;
          font-weight: 600;
          @include mq("tablet",min) {
            font-size: 1.3rem;
          }
          @include mq("phone",min) {
            font-size: 1.1rem;
          }
          svg {
            margin-left: 16px;
            border: 2px solid black;
            padding: 12px;
            height: 24px;
            width: 24px;
            border-radius: 100px;
            transition: 0.4s ease-in-out;
            @include mq("tablet",min) {
              padding: 6px;
              width: 20px;
              height: 20px;
            }
            @include mq("phone",min) {
              padding: 4px;
              width: 16px;
              height: 16px;
            }
          }
          &:hover {
            svg {
              background: black;
              color: white;
            }
          }
        }
      }
    }
  }