@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.toolkit-wrapper {
  width: calc(100vw - 50px);
  margin: 0 auto;
  padding-top: 15vh;
  position: relative;
}
.toolkit-wrapper h1 {
  font-size: clamp(100px, 15vw, 15vw);
  font-weight: bold;
  margin-bottom: 4vh;
  max-width: 70vw;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  color: #111;
}
.toolkit-wrapper .content {
  margin-bottom: 4vh;
  font-family: "Poppins", sans-serif;
  color: #111;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.toolkit-wrapper .first-wrapper .ai-free {
  float: right;
}
.toolkit-wrapper .first-wrapper .ai-free .ai-free-styles {
  margin-bottom: 2vh;
  font-family: "Anton", sans-serif;
  color: #111;
  font-size: clamp(100px, 7vw, 15vw);
}
.toolkit-wrapper .first-wrapper .chart .chart-style {
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(80px, 1vw, 15vw);
  font-family: "Anton", sans-serif;
  margin-bottom: 2vh;
}
.toolkit-wrapper .first-wrapper .chart .s-a-k {
  text-transform: uppercase;
  font-size: clamp(40px, 1vw, 15vw);
  font-family: "Anton", sans-serif;
  margin-bottom: 2vh;
}
.toolkit-wrapper .first-wrapper .chart .ai-write {
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(50px, 1vw, 15vw);
  font-family: "Anton", sans-serif;
  margin-bottom: 2vh;
  text-align: center;
}
.toolkit-wrapper .first-wrapper .chart .web-builder {
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(30px, 1vw, 15vw);
  font-family: "Anton", sans-serif;
  margin-bottom: 2vh;
}
.toolkit-wrapper .second-wrapper .wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  font-family: "Poppins", sans-serif;
  color: #111;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.toolkit-wrapper .second-wrapper .wrapp .marketing {
  margin: 0 10vh;
  font-size: 25px;
}
.toolkit-wrapper .second-wrapper .wrapp .grid {
  margin: 0 10vh;
  font-size: 25px;
}
.toolkit-wrapper .second-wrapper .wrapp .icon {
  margin: 0 10vh;
  font-size: 25px;
}
.toolkit-wrapper .second-wrapper .idea-clip {
  margin-bottom: 3vh;
  font-family: "Anton", sans-serif;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.toolkit-wrapper .second-wrapper .idea-clip .idea {
  font-size: clamp(100px, 10vw, 15vw);
}
.toolkit-wrapper .second-wrapper .idea-clip .clip {
  font-size: clamp(100px, 4vw, 15vw);
}
.toolkit-wrapper .second-wrapper .idea-clip .clip:last-child {
  font-size: clamp(100px, 1vw, 15vw);
}
.toolkit-wrapper .third-wrapper .content-1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #111;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 767px) {
  .toolkit-wrapper {
    margin-left: 75px;
    padding-left: 10px;
    border-left: 1px solid rgb(116, 116, 116);
    width: calc(100vw - 126px);
  }
}/*# sourceMappingURL=toolkit.css.map */