.menu-holder .menu-inside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  will-change: transform;
  background-color: #111;
  color: white;
  z-index: 10;
}
.menu-holder .menu-inside.open {
  transform: translateX(0);
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) {
  list-style: none;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) a {
  transition-delay: 0.8s;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) {
  list-style: none;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) a {
  transition-delay: 0.9s;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) {
  list-style: none;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) a {
  transition-delay: 1s;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) {
  list-style: none;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) a {
  transition-delay: 1.1s;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) {
  list-style: none;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) a {
  transition-delay: 1.2s;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.menu-holder .menu-inside.open .internal-nav-links li a {
  transform: translate(0);
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(1n) {
  list-style: none;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(1n) a {
  transition-delay: 1s;
  color: white;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(2n) {
  list-style: none;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(2n) a {
  transition-delay: 1.1s;
  color: white;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(3n) {
  list-style: none;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(3n) a {
  transition-delay: 1.2s;
  color: white;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(4n) {
  list-style: none;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(4n) a {
  transition-delay: 1.3s;
  color: white;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(5n) {
  list-style: none;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(5n) a {
  transition-delay: 1.4s;
  color: white;
}
.menu-holder .menu-inside.open .external-nav-links li a {
  opacity: 1;
  transform: translate(0);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.menu-holder .menu-inside .menu-nav-container {
  position: relative;
  left: 220px;
  top: 100px;
  overflow: hidden;
  width: calc(90vw - 260px);
}
.menu-holder .menu-inside .internal-nav-links li {
  margin-bottom: 20px;
  position: relative;
}
.menu-holder .menu-inside .internal-nav-links li a {
  font-size: clamp(32px, 4vw, 52px);
  line-height: 1.1em;
  transform: translate(-100%);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-holder .menu-inside .internal-nav-links li img {
  pointer-events: none;
  aspect-ratio: 16/9;
  opacity: 0;
  display: block;
  width: 30vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-30px);
  right: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(1.3) grayscale(0.54) contrast(0.8) saturate(1.2) sepia(0.21);
  transition: transform 0.5s ease-in-out;
}
.menu-holder .menu-inside .external-nav-links {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.menu-holder .menu-inside .external-nav-links li {
  margin-right: 30px;
}
.menu-holder .menu-inside .external-nav-links li a {
  transform: translate(-100%);
  opacity: 0;
  will-change: transform;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-holder .menu-inside .external-nav-links li:last-of-type {
  margin-right: 0px;
}
@media only screen and (max-width: 768px) {
  .menu-holder .menu-inside .menu-nav-container {
    left: 10%;
    width: 100vw;
  }
  .menu-holder .menu-inside .menu-nav-container img {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */