@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "../../../styles/mixins";

.cases {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    .cases-navigation {
      position: absolute;
      bottom: 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 6;
      padding: 32px;
      box-sizing: border-box;
      @include mq("tablet",min) {
        display: none;
      }
      .cases-arrow {
        background: rgba(0, 0, 0, 0.4);
        height: 72px;
        width: 72px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color:white;
          height: 28px;
          width: 28px;
        }
        &.disabled {
          opacity: 0.3;
        }
      }
    }
    .row {
      @include mq("tablet",min) {
        flex-direction: column;
      }
      .case {
        position: relative;
        background: black;
        cursor: pointer;
        &:hover {
          .case-image {
            opacity: 0.4;
          }
        }
        .case-details {
          width: 33.3333vw;
          height: 50vh;
          height: calc(var(--vh, 1vh) * 50);
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 32px;
          box-sizing: border-box;
          z-index: 1;
          position: relative;
          @include mq("tablet",min) {
            width: 100vw;
          }
          @include mq("phone",min) {
            padding: 16px;
          }
          span {
            margin-top: 156px;
            font-size: 1.6rem;
            opacity: 0.8;
            color: white;
            font-weight: 600;
            /*@include mq("<=1366px", ">768px") {
              font-size: 1.4rem;
            }*/
            @include mq("desktop-wide",max){
              font-size: 1.4rem;
            }
            @include mq("tablet",min){
              font-size: 1.4rem;
            }

            @include mq("phone",min) {
              font-size: 1.2rem;
              line-height: 2.2rem;
            }
          }
          h2 {
            font-size: 2.4rem;
            line-height: 3.4rem;
            width: 85%;
            margin-top: 16px;
            color: white;
            /*@include mq("<=1366px", ">768px") {
              font-size: 2rem;
              line-height: 2.4rem;
            }*/
            @include mq("desktop-wide",max){
               
               font-size: 2rem;
               line-height: 2.4rem;
            }
            @include mq("tablet",min){
              line-height: 2.4rem;
              font-size: 2rem;

            }
            @include mq("phone",min) {
              font-size: 1.7rem;
              line-height: 2.2rem;
              margin-top: 8px;
            }
          }
        }
        .case-image {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          opacity: 0.65;
          transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }